# Lab 8.1 functions-practice

https://plotly.com/python/

https://realpython.com/ggplot-python/

# 0. Let's load and install some libraries

In [1]:
!pip3 install --upgrade pandas
!pip install xlrd

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.0.4)
Collecting pandas
  Downloading pandas-1.2.3-cp37-cp37m-manylinux1_x86_64.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 4.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.16.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.0.4
    Uninstalling pandas-1.0.4:
      Successfully uninstalled pandas-1.0.4
Successfully installed pandas-1.2.3
Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.0.1)

In [36]:
import pandas as pd

In [37]:
import matplotlib.pyplot as plt

In [38]:
import seaborn as sns

# 1. Let's load some data

In [5]:
# similar to reading data from csv file, we can read data from excel sheets, we need to specify which column we need to read data from
# this data is a sample from comercial software Tableau
df=pd.read_excel('Superstore.xls',dtype={'Order Date':'str'})
df.head()

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,variable,value
0,0,1,CA-2013-152156,2013-11-09 00:00:00,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Sales,261.9600
1,1,2,CA-2013-152156,2013-11-09 00:00:00,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Sales,731.9400
2,2,3,CA-2013-138688,2013-06-13 00:00:00,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Sales,14.6200
3,3,4,US-2012-108966,2012-10-11 00:00:00,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,Sales,957.5775
4,4,5,US-2012-108966,2012-10-11 00:00:00,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,Sales,22.3680

In [49]:
df.head

<bound method NDFrame.head of        Unnamed: 0  Row ID        Order ID           Order Date  Ship Date  \
0               0       1  CA-2013-152156  2013-11-09 00:00:00 2013-11-12
1               1       2  CA-2013-152156  2013-11-09 00:00:00 2013-11-12
2               2       3  CA-2013-138688  2013-06-13 00:00:00 2013-06-17
3               3       4  US-2012-108966  2012-10-11 00:00:00 2012-10-18
4               4       5  US-2012-108966  2012-10-11 00:00:00 2012-10-18
...           ...     ...             ...                  ...        ...
39971       39971    9990  CA-2011-110422  2011-01-22 00:00:00 2011-01-24
39972       39972    9991  CA-2014-121258  2014-02-27 00:00:00 2014-03-04
39973       39973    9992  CA-2014-121258  2014-02-27 00:00:00 2014-03-04
39974       39974    9993  CA-2014-121258  2014-02-27 00:00:00 2014-03-04
39975       39975    9994  CA-2014-119914  2014-05-05 00:00:00 2014-05-10

            Ship Mode Customer ID     Customer Name    Segment        Country  \
0        Second Class    CG-12520       Claire Gute   Consumer  United States
1        Second Class    CG-12520       Claire Gute   Consumer  United States
2        Second Class    DV-13045   Darrin Van Huff  Corporate  United States
3      Standard Class    SO-20335    Sean O'Donnell   Consumer  United States
4      Standard Class    SO-20335    Sean O'Donnell   Consumer  United States
...               ...         ...               ...        ...            ...
39971    Second Class    TB-21400  Tom Boeckenhauer   Consumer  United States
39972  Standard Class    DB-13060       Dave Brooks   Consumer  United States
39973  Standard Class    DB-13060       Dave Brooks   Consumer  United States
39974  Standard Class    DB-13060       Dave Brooks   Consumer  United States
39975    Second Class    CC-12220      Chris Cortes   Consumer  United States

       ...       State Postal Code  Region       Product ID         Category  \
0      ...    Kentucky       42420   South  FUR-BO-10001798        Furniture
1      ...    Kentucky       42420   South  FUR-CH-10000454        Furniture
2      ...  California       90036    West  OFF-LA-10000240  Office Supplies
3      ...     Florida       33311   South  FUR-TA-10000577        Furniture
4      ...     Florida       33311   South  OFF-ST-10000760  Office Supplies
...    ...         ...         ...     ...              ...              ...
39971  ...     Florida       33180   South  FUR-FU-10001889        Furniture
39972  ...  California       92627    West  FUR-FU-10000747        Furniture
39973  ...  California       92627    West  TEC-PH-10003645       Technology
39974  ...  California       92627    West  OFF-PA-10004041  Office Supplies
39975  ...  California       92683    West  OFF-AP-10002684  Office Supplies

      Sub-Category                                       Product Name  \
0        Bookcases                  Bush Somerset Collection Bookcase
1           Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2           Labels  Self-Adhesive Address Labels for Typewriters b...
3           Tables      Bretford CR4500 Series Slim Rectangular Table
4          Storage                     Eldon Fold 'N Roll Cart System
...            ...                                                ...
39971  Furnishings                             Ultra Door Pull Handle
39972  Furnishings  Tenex B1-RE Series Chair Mats for Low Pile Car...
39973       Phones                              Aastra 57i VoIP phone
39974        Paper  It's Hot Message Books with Stickers, 2 3/4" x 5"
39975   Appliances  Acco 7-Outlet Masterpiece Power Center, Wihtou...

      variable     value  true_
0        Sales  261.9600  False
1        Sales  731.9400  False
2        Sales   14.6200  False
3        Sales  957.5775  False
4        Sales   22.3680  False
...        ...       ...    ...
39971   Profit    4.1028  False
39972   Profit   15.6332  False
39973   Profit   19.3932  False
39974   Profit   13.3200  False
39975   Profit   72.9480  False

[39976 rows x 21 columns]>

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39976 entries, 0 to 39975
Data columns (total 19 columns):
Row ID           39976 non-null int64
Order ID         39976 non-null object
Order Date       39976 non-null object
Ship Date        39976 non-null datetime64[ns]
Ship Mode        39976 non-null object
Customer ID      39976 non-null object
Customer Name    39976 non-null object
Segment          39976 non-null object
Country          39976 non-null object
City             39976 non-null object
State            39976 non-null object
Postal Code      39976 non-null int64
Region           39976 non-null object
Product ID       39976 non-null object
Category         39976 non-null object
Sub-Category     39976 non-null object
Product Name     39976 non-null object
variable         39976 non-null object
value            39976 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(15)
memory usage: 6.1+ MB

### For each of the following tasks using pandas apply

### **Task 1**. Create a new columns in the dataset that shows 'true' if the order was made in the US, and 'false' if made in other places (e.g., Canada). Use order ID

SyntaxError: invalid syntax (<ipython-input-10-f3025e34d5ec>, line 1)

### **Task 2**. Create a new column that shows how many years has passed since the order was created

In [19]:
def year_parser (x):
    year=x [:4]
    return 2021-int(year)

In [17]:
a='2013-11-07'

In [22]:
year_parser(a)
df['Order Date'].apply(year_parser)

0         8
1         8
2         8
3         9
4         9
         ..
39971    10
39972     7
39973     7
39974     7
39975     7
Name: Order Date, Length: 39976, dtype: int64

### **Task 3**. Create a new column that discretize the value of sales to low: <200, mid: >200 and <1000, high: >1000

In [42]:
def value_filter(x):
    if x < 200:
        return 'low'



    if (x > 200) & (x < 1000):
        return 'mid'



    if x > 1000:
        return 'high'



    else:
        return 'Nan'

    df['value'].apply(value_filter)

In [43]:
df['value'].apply(value_filter)

0        mid
1        mid
2        low
3        mid
4        low
        ...
39971    low
39972    low
39973    low
39974    low
39975    low
Name: value, Length: 39976, dtype: object

### **Task 4**. Create a new columns that contains only first name and last names of custerms, i.e. remove the middle names

In [47]:
a='Darrin Van Huff'


def RMV_middle_name (x):
    y=x.split(' ')
    return (y[0]+' '+y[-1])

RMV_middle_name(a)

'Darrin Huff'

### **Task 5**. calculate profit margin per number of product sold

In [48]:
profit margin = (profit/sales)/quantity

SyntaxError: invalid syntax (<ipython-input-48-1c2cbb6648f5>, line 1)

In [55]:
def f(row):
    profit_margin = row['Profit']/row['Sales']
    profit_margin_per_product=profit_margin/row['Quantity']
    return (profit_margin_per_product)

TypeError: string indices must be integers